<nav class="navbar">
  <div class="container">
    <div class="main-logo">
      <a href="https://signal.org/fr/#signal"
        ><img src="../../assets/logo.png" alt="Logo Signal"
      /></a>
    </div>
    <div class="nav">
      <a href="https://signal.org/fr/download/">Get Signal</a>
      <a href="https://support.signal.org/">Help</a>
      <a href="https://signal.org/blog/">Blog</a>
      <a href="https://signal.org/docs/">Developers</a>
      <a href="https://signal.org/workworkwork/">Careers</a>
      <a href="https://signal.org/fr/donate/">Donate</a>
      <a href="https://twitter.com/signalapp"
        ><img src="../../assets/twitter.svg" alt="Logo Twitter"
      /></a>
      <a href="https://instagram.com/signal_app/"
        ><img src="../../assets/instagram.svg" alt="Logo Instagram"
      /></a>
      <a href=""
        ><img
          src="../../assets/solid_globe.svg"
          alt="Logo Globe"
          class="globe-logo"
        />Français</a
      >
    </div>
  </div>
</nav>
