.navbar {
  background-color: white;
  border-bottom: 1px solid #ebeaeb;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 30;
  padding: 16px 0;
  min-height: 3.25rem;
  width: 100%;

  .main-logo img {
    width: 150px;
    height: 50px;
  }

  .nav {
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }
    .globe-logo {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
    a {
      color: black;
      margin-left: 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover {
        color: #2c6bed;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.25rem;
    margin-left: 80px;
    margin-right: 100px;
  }
}
