<footer class="footer">
  <div class="footer-container">
    <div class="column column-two-fifths">
      <p>© 2013–2024 Signal, a nonprofit.</p>
      <p>
        Signal is a registered trademark in the United States and other
        countries.
      </p>
      <p>
        For media inquiries, contact
        <a href="mailto:press@signal.org">press&#64;signal.org</a>
      </p>
    </div>
    <div class="column">
      <strong>Organization</strong>
      <ul>
        <li><a href="https://signal.org/fr/donate/">Donate</a></li>
        <li><a href="https://signal.org/workworkwork/">Careers</a></li>
        <li><a href="https://signal.org/blog/">Blog</a></li>
        <li><a href="https://signal.org/legal/">Terms & Privacy Policy</a></li>
      </ul>
    </div>
    <div class="column">
      <strong>Download</strong>
      <ul>
        <li><a href="https://signal.org/fr/download/android/">Android</a></li>
        <li><a href="https://signal.org/fr/download/ios/">iPhone & iPad</a></li>
        <li><a href="https://signal.org/fr/download/windows/">Windows</a></li>
        <li><a href="https://signal.org/fr/download/macos/">Mac</a></li>
        <li><a href="https://signal.org/fr/download/linux/">Linux</a></li>
      </ul>
    </div>
    <div class="column">
      <strong>Social</strong>
      <ul>
        <li><a href="https://github.com/signalapp">GitHub</a></li>
        <li><a href="https://twitter.com/signalapp">Twitter</a></li>
        <li><a href="https://www.instagram.com/signal_app/">Instagram</a></li>
      </ul>
    </div>
    <div class="column">
      <strong>Help</strong>
      <ul>
        <li><a href="https://support.signal.org/">Support Center</a></li>
        <li><a href="https://community.signalusers.org/">Community</a></li>
      </ul>
    </div>
  </div>
</footer>
