.footer {
  background-color: #3c3744;
  color: #e9e9e9;
  font-size: 16px;
  line-height: 22px;
  padding: 2rem 3rem 4rem 4rem;

  .footer-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

    .column-two-fifths {
      padding: 1em;
    }
    .column {
      margin-right: 2%;
      padding: 0.75rem;
    }

    // Pour supprimer la marge droite de la dernière colonne
    &:last-child {
      margin-right: 0;
    }
  }
}

strong {
  display: block;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #e9e9e9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
