:host ::ng-deep .img-text-container {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding-left: 4em;
  padding-right: 4em;
  text-align: start;

  .img-container img {
    max-width: 680px;
  }
  .text-container {
    width: 33%;
    h2 {
      margin: 0;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px;
      margin-bottom: 32px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}
