<article class="img-text-container">
  <div class="text-container">
    <app-title-text
      [titleText]="{
        title: imgTextContent.title,
        description: imgTextContent.description
      }"
    ></app-title-text>
  </div>
  <div class="img-container">
    <img [src]="imgTextContent.imageSrc" [alt]="imgTextContent.imageAlt" />
  </div>
</article>
