.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
  padding: 30px;
  margin: 0.75em;
  text-align: center;

  img {
    height: 370px;
    width: 370px;
  }
  h2 {
    font-size: 28px;
    font-weight: 800;
    color: #1b1b1b;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}
