<article class="card">
  <img [src]="card.imageSrc" [alt]="card.imageAlt" />
  <!-- img et alt sont transmis par le parent app.component -->
  <!-- Mais title et description doivent d'abord passer par title text avant -->
  <app-title-text [titleText]="{ title: card.title, description: card.description }"></app-title-text>
</article>
