<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signal >> Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-header></app-header>
    <app-top-page></app-top-page>
    <section class="why-section">
      <app-title-text
        class="why-signal"
        [titleText]="myTitleText"
      ></app-title-text>
    </section>
    <section class="main-img-text-section">
      <app-img-text-content [imgTextContent]="imgText"></app-img-text-content>
    </section>
    <section class="card-section">
      <app-card *ngFor="let card of cardList" [card]="card"></app-card>
    </section>
    <section class="lower-img-text-section1">
      <app-img-text-content
        class="text-left"
        [imgTextContent]="imgTextLeft"
      ></app-img-text-content>
    </section>
    <section class="lower-img-text-section2">
      <app-img-text-content
        class="text-right"
        [imgTextContent]="imgTextRight"
      ></app-img-text-content>
    </section>
    <app-footer></app-footer>
  </body>
</html>
