html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

body {
  margin: 0;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4.5em 4.5em 2em 4.5em;
  background-color: #f6f6f6;
}
// ::ng-deep, the style will be applied to the child component, but it will be affected to other components which has the same class name
// :host css selector : the style will be scoped only to that respective component and its descendants.
:host ::ng-deep .why-signal {
  text-align: center;
  padding: 0.75rem;
  h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
}

.why-section,
.main-img-text-section, 
.lower-img-text-section1,
.lower-img-text-section2 {
  padding: 2rem 1.5rem;
}

:host ::ng-deep .text-left img,
:host ::ng-deep .text-right img {
  border-radius: 16px;
}

:host ::ng-deep .text-left .img-text-container{
  display: flex;

  .text-container, .img-container{
    padding:0.75em;
  }

  .text-container{
    width: 33.3%;
  }

  .img-container{
    width: 66.7%;
  }
}

:host ::ng-deep .text-right .img-text-container{
  display: flex;
  flex-direction: row-reverse;

  .text-container, .img-container{
    padding:0.75em;
  }

  .text-container{
    width: 33.3%;
  }

  .img-container{
    width: 66.7%;
    text-align: end;
  }
}