<section class="top-page-main">
  <div class="top-page-container">
    <div class="left-column">
      <h1>Exprimez-vous librement</h1>
      <p>
        Dites « Bonjour » à une expérience de messagerie différente. Un accent
        inattendu sur la confidentialité et la protection des données
        personnelles, combiné à toutes les fonctions auxquelles vous vous
        attendez.
      </p>
      <button>Obtenir Signal</button>
    </div>
    <div class="right-column">
        <img class="img1" src="../../assets/signal-iphone.png" alt="" />
        <img class="img2" src="../../assets/signal-pixel.png" alt="" />
    </div>
  </div>
</section>
