.top-page-main {
  background-color: #9dbbf8;
  padding: 2em 5em;
  margin-bottom: 4rem;
  max-height: 600px;

  .top-page-container {
    display: grid;
    grid-template-columns: 2fr 3fr;

    .left-column {
      h1,
      h2,
      p {
        margin: 0;
      }
      h1 {
        margin-top: 2em;
        font-size: 60px;
        font-weight: 800;
        line-height: 64px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin: 24px 0;
      }

      button {
        color: #2c6bed;
        font-size: 20px;
        line-height: 28px;
        padding: 0 20px;
        border-radius: 8px;
        background-color: white;
        border: none;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        height: 2.5em;
        box-shadow: none;
        display: inline-flex;
        align-items: center;
        &:hover {
          color: #1851b4;
        }
      }
    }

    .right-column {
      position: relative; // Permet de positionner les images à l'intérieur de ce conteneur
      img {
        transform: rotate(22.5deg);
      }
      .img1 {
        margin-left: 0px;
        margin-top: 46px;
        width: 320px;
      }
      .img2 {
        margin-left: -32px;
        position: absolute;
        top: 0px;
        width: 300px;
      }
    }
  }
}
